.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.fetchButton {
  width: 280px;
  height: 50px;
  background-size: contain;
  cursor: pointer;
  border: transparent 3px solid;
}

.fetchButton:hover,
.fetchButton:focus {
  border: white 3px solid;
}

img {
  max-width: calc(100vw - 1rem);
}
